/* loginPage.css */

.login-page {
  background-color: #f1f1f1;
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

h1 {
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
}

.button-group {
  margin-top: 20px;
}

.signup-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #0062cb;
}

.signin-button {
  background-color: #28a745;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin-button:hover {
  background-color: #1e8737;
}

.error-message {
  color: red;
  margin-top: 10px;
}