/* loginPage.css */

.login-page {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.3));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.1);
  padding: 20px;
  max-width: 400px;
  margin: 0 auto;
  border-radius: 5px;
  text-align: center;
}

h1 {
  color: #333;
}

.form-group {
  margin-bottom: 10px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

input {
  padding: 8px;
  border-radius: 3px;
  border: 1px solid #ccc;
  width: 100%;
}

.button-group {
  margin-top: 20px;
}

.signup-button {
  background-color: #3a7fb8;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.signup-button:hover {
  background-color: #255276;
}

.signin-button {
  background-color: #a578cd;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.signin-button:hover {
  background-color: #7b5999;
}

.error-message {
  color: red;
  margin-top: 10px;
}