/*Dashboard.css*/
#dashboard-background {
  background-image: url("../../Resources/bg1.jpg");
  background-size: cover;
  min-height: 100vh;
}

#dashboard {
  backdrop-filter: blur(10px) brightness(70%);
  -webkit-backdrop-filter: blur(10px);
  min-height: 100vh;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  font-weight: bold;
  background-color: #bfb1c1;
  color: #0e1327;
  padding: 10px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover {
  background-color: #cec0d0;
  text-shadow: 0 2px 3px rgba(255, 255, 255, 0.5);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #cec0d0;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a:hover {
  color: inherit;
  background-color: #bfb1c1;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b9b1c1;
  color: #0e1327;
  padding: 10px;
}

.navbar a {
  margin-left: 0.5rem;
  font-weight: bold;
  color: #0e1327;
  text-decoration: none;
  margin-right: 10px;
}

.navbar a:hover {
  color: inherit;
  text-shadow: 1px 2px 3px rgba(255, 255, 255, 0.5);
}

.navbar-right {
  display: flex;
  align-items: center;
}

.button {
  background-color: #8c4276;
  font-weight: bold;
  border-radius: 5px;
  color: #ebe3e3;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  margin-right: 0.5rem;
}

.button:hover {
  background-color: #622d52;
}